#instructions {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 50vh; */
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 1.2em;
  z-index: 100;
  background-color: rgba(0, 0, 0, .8);
}

#instructions > * {
  max-width: 400px;
  padding: 0.25em;
}

#hiddenInstructions {
    display: none;
}
