#program-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-selected {
  background-color: transparent !important;
}

#random-button {
  background-color: #33a1fd;
}

#beginner-button {
  border-color: #799431;
  background-color: #799431;
}

#intermediate-button {
  border-color: #f3c053;
  background-color: #f3c053;
}

#expert-button {
  border-color: #c32f27;
  background-color: #c32f27;
}

#beginner-button:hover {
  background-color: #799431 !important;
  transition: 200ms;
}

#intermediate-button:hover {
  background-color: #f3c053 !important;
  transition: 200ms;
}

#expert-button:hover {
  background-color: #c32f27 !important;
  transition: 200ms;
}

#random-button:hover {
  background-color: #33a1fd !important;
}

#program-buttons * {
  width: 120px;
  margin: 10px;
}

@media screen and (max-width: 480px) {
  #program-buttons {
    flex-direction: column;
    position: relative;
    min-width: 200px;
    margin-top: 1em;
  }
}
