#exercise-display {
  font-size: 2rem;
  color: #eb5e28;
}

#beginner {
  font-size: 3rem;
  color: #799431;
}

#intermediate {
  font-size: 3rem;
  color: #f3c053;
}

#expert {
  font-size: 3rem;
  color: #c32f27;
}
